body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 40px
}

body {
  background:linear-gradient(to bottom, rgb(193, 222, 255), #fff);
}

.cardContainer svg {
  position: absolute;
  width: 0;
  height: 0;
}
.cardGrid .card {
  width: 500px;
  min-width: 500px;
  height: 350px;
  position: relative;
  max-width: 100%;
  background: #fff;
}
.cardGrid .card * {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardGrid .card h1, .cardGrid .card .button {
  position: absolute;
  right: 30px;
  z-index: 9;
  color: #fff;
  font-size: 200px;
  font-weight: 100;
  margin: 0;
  top: 0;
  line-height: 0.75;
  -webkit-transform: scale(0) rotateX(180deg);
          transform: scale(0) rotateX(180deg);
  opacity: 0;
}
.cardGrid .card p {
  position: absolute;
  z-index: 999;
  width: 75%;
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
  left: 12.5%;
  color: #fff;
  display: inline-block;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: none;
}
.cardGrid .card .button {
  color: #6D44B5;
  font-size: 15px;
  bottom: 50px;
  top: auto;
  width: 50%;
  display: block;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 15px 5px;
  border: 2px solid;
  cursor: pointer;
  left: -50px;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.cardGrid .card .button:before {
  content: 'Go!';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
          transform: translateX(-50%) translateY(-50%) scale(0);
  font-size: 15px;
  opacity: 0;
}
.cardGrid .card input[type="checkbox"] {
  z-index: 999;
  position: absolute;
  bottom: 50px;
  width: 50%;
  left: -50px;
  height: 50px;
  opacity: 0;
}
.cardGrid .card input[type="checkbox"]:hover ~ .button {
  background: #fba0cc;
  color: #fff;
  border-color: #fba0cc;
}
.cardGrid .card input[type="checkbox"]:hover ~ p {
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transition-delay: 0.2s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.cardGrid .card input[type="checkbox"]:hover ~ .button {
  z-index: 100;
  color: #fff;
  font-size: 0;
}
.cardGrid .card input[type="checkbox"]:hover ~ .button:before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}
.cardGrid .card input[type="checkbox"]:hover ~ .blob {
  z-index: 99;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardGrid .card input[type="checkbox"]:hover ~ .blob:before, .cardGrid .card input[type="checkbox"]:hover ~ .blob:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.cardGrid .card input[type="checkbox"]:hover ~ .blob .glob {
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1);
  min-width: 110%;
  min-height: 110%;
  border-radius: 0px;
  top: -5%;
  right: -5%;
}
.cardGrid .card + div {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.cardGrid:hover .card div h1 {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  opacity: 1;
}
.cardGrid:nth-of-type(1):hover .card div ~ .blob .glob {
  width: 70%;
  height: 75%;
  background: #6D44B5;
}
.cardGrid:nth-of-type(1):hover .card div ~ .blob:before {
  top: 40%;
  background: #6D44B5;
}
.cardGrid:nth-of-type(1):hover .card div ~ .blob:after {
  background: #6D44B5;
}
.cardGrid:nth-of-type(2):hover .card div ~ .blob .glob {
  width: 70%;
  height: 75%;
  background: #FE8D58;
}
.cardGrid:nth-of-type(2):hover .card div ~ .blob:before {
  top: 40%;
  background: #FE8D58;
}
.cardGrid:nth-of-type(2):hover .card div ~ .blob:after {
  background: #FE8D58;
}
.cardGrid:nth-of-type(3):hover .card div ~ .blob .glob {
  width: 70%;
  height: 55%;
  background: #F45746;
}
.cardGrid:nth-of-type(3):hover .card div ~ .blob:before {
  top: 20%;
  background: #F45746;
  left: 40%;
}
.cardGrid:nth-of-type(3):hover .card div ~ .blob:after {
  background: #F45746;
  left: 70%;
}
.cardGrid:nth-of-type(1):hover .card div ~ .photo div:nth-of-type(1) {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.cardGrid:nth-of-type(2):hover .card div ~ .photo div:nth-of-type(2) {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.cardGrid:nth-of-type(3):hover .card div ~ .photo div:nth-of-type(3) {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.cardGrid:nth-of-type(1):hover .card div ~ .shapes {
  top: 35%;
  left: 65%;
  width: 90px;
}
.cardGrid:nth-of-type(2):hover .card div ~ .shapes {
  top: 35%;
  left: 65%;
  width: 90px;
}
.cardGrid:nth-of-type(2):hover .card div ~ .shapes:before {
  left: 120px;
  top: 170px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
.cardGrid:nth-of-type(3):hover .card div ~ .shapes {
  top: 55%;
  left: 55%;
  width: 140px;
}
.cardGrid:nth-of-type(3):hover .card div ~ .shapes:before {
  left: 140px;
  top: -40px;
  -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}
.card:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
  z-index: 200;
}
.card .photo {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  -webkit-perspective: 300px;
          perspective: 300px;
}
.card .photo div {
  position: absolute;
  width: 75%;
  height: 50%;
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
  top: -12.5%;
  margin-left: -12.5%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 100%;
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 5px #fba0cc, 0 0 0 10px #fff;
}
.card .photo div:before {
  content: '💯';
  font-size: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 20px 0 0 5px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-filter: saturate(0) brightness(20);
          filter: saturate(0) brightness(20);
  opacity: 0.25;
}
.cardGrid .card .photo div:first-of-type {
  background: #fba0cc;
}
.cardGrid .card .photo div:nth-of-type(2) {
  background: #F45746;
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 5px #F45746, 0 0 0 10px #fff;
}
.cardGrid .card .photo div:nth-of-type(2):before {
  content: '👯';
}
.cardGrid .card .photo div:nth-of-type(3) {
  background: #B9ACCA;
  box-shadow: inset 0 0 0 5px #fff, 0 0 0 5px #B9ACCA, 0 0 0 10px #fff;
}
.cardGrid .card .photo div:nth-of-type(3):before {
  content: '💋';
}
.cardGrid .card .shapes {
  position: absolute;
  left: 45%;
  top: 20%;
  background: #FE8D58;
  width: 60px;
  height: 4px;
  z-index: 2;
  box-shadow: 0 8px 0 0 #FE8D58, 0 16px 0 0 #FE8D58, 0 24px 0 0 #FE8D58, 0 32px 0 0 #FE8D58;
  mix-blend-mode: screen;
}
.cardGrid .card .shapes:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #FE8D58, #F45746);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  left: 175px;
  top: 160px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardGrid .card .blob {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: url(#goo);
          filter: url(#goo);
}
.cardGrid .card .blob .glob {
  position: absolute;
  width: 60%;
  height: 75%;
  background:#d0e6ff;
  border-radius: 100%;
  top: -25%;
  right: -25%;
}
.cardGrid .card .blob:before, .cardGrid .card .blob:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 60%;
  background: #d0e6ff;
  border-radius: 100%;
  right: 0;
  top: 20px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.cardGrid .card .blob:after {
  right: -15%;
  top: 20%;
  width: 40%;
  height: 60%;
}

